import structlog

from .logging import configure_logging


def main() -> None:
    """CLI entry point."""
    configure_logging()
    log = structlog.get_logger()
    log.info("Hello from {{ project_name }}!")
